<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Blog Cards</title>

    <link rel="stylesheet" href="{% static 'practiceapp/css/blog_cards.css' %}">

  </head>
  <body>

    <div class="container">
      <div class="card">
        <div class="card-header">
          <img src="{% static 'practiceapp/images/rover.jpeg' %}" alt="rover">
        </div>
        <div class="card-body">
          <span class="tag tag-teal">Technology</span>
          <h4>Why is the Tesla Cybertruck designed the way it is?</h4>
          <p>An exploration into the truck's polarising design.</p>
          <div class="user">
            <img src="{% static 'practiceapp/images/user-1.jpg' %}" alt="user 1">
            <div class="user-info">
              <h5>Carrie Brewer</h5>
              <small>2h ago</small>

            </div>


          </div>
        </div>

      </div>

      <div class="card">
        <div class="card-header">
          <img src="{% static 'practiceapp/images/ballons.jpeg' %}" alt="rover">
        </div>
        <div class="card-body">
          <span class="tag tag-purple">Popular</span>
          <h4>How to Keep Going When You Don't Know What's Next?</h4>
          <p>The future can be scary, but there are ways to deal with that fear.</p>
          <div class="user">
            <img src="{% static 'practiceapp/images/user-2.jpg' %}" alt="user 2">
            <div class="user-info">
              <h5>Jerome Walton</h5>
              <small>3h ago</small>

            </div>


          </div>
        </div>

      </div>

      <div class="card">
        <div class="card-header">
          <img src="{% static 'practiceapp/images/city.jpeg' %}" alt="city">
        </div>
        <div class="card-body">
          <span class="tag tag-pink">Design</span>
          <h4>10 Rules of Dashboard Design</h4>
          <p>Dashboard Design Guidelines</p>
          <div class="user">
            <img src="{% static 'practiceapp/images/user-3.jpg' %}" alt="user 3">
            <div class="user-info">
              <h5>Claire Daniels</h5>
              <small>18h ago</small>

            </div>


          </div>
        </div>

      </div>












    </div>

    <div class="back">
      <a href="{% url 'practiceapp:index' %}">Back</a>
      <p></p>
    </div>



  </body>
</html>
